.form-container{
    padding: 20px;
}

.form-container h3{
    margin-bottom: 2px;
}

#form-title{
    font-family: "Montserrat Light", "Open Sans";
    font-size: 1.8em;
    text-align: center;
    height: 64px;
    color: black;
}

.card-title{
    font-family: "Montserrat Light", "Open Sans";
}