<div class="form-container shadow-lg p-3 mb-5 bg-white rounded">
    <div id="form-title">Tickets</div>
    <div class="row">
        <div class="card col-md-12">
            <h5 class="card-title"></h5>
            <div class="row">
                <div class="col-md-6">
                    <label for="typeticket">Type de ticket</label>
                    <div class="form-group">
                        <p-dropdown id="typeticket" name="typeticket" title="Type de ticket" class=""
                            [options]="optionTypeForm" optionLabel="name" placeholder="Select a type of form">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <p-button id="btnAjouter" label="Ajouter" type="submit" icon="pi pi-plus" iconPos="left"
                            (onClick)="newTicket($event)">
                        </p-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-md-12 p-3 mb-5">
            <h5 class="card-title">Tickets en cours </h5>
            <div class="row">
                <ag-grid-angular
                    #agGrid
                    id="myGrid"
                    style="width: 100%; height: 500px;"
                    class="ag-theme-balham"
                    [rowData]="rowDataTicket"
                    [columnDefs]="columnDefs"
                    rowSelection="multiple"
                    (gridReady)="onGridReady($event)"
                >
                </ag-grid-angular>
            </div>
        </div>
    </div>
</div>